body {
    margin: 0;
}

.flex-container {
    /* height: calc(100% - 150px);
    width: 100%; */
    /* margin: 0 auto; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {    
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.div-send-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

video {
    max-width: 100%;
}

.my-video-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    max-width: 40%;
    
    /* Make resizeable: */
    /* min-height: 30px;
    min-width: 30px;
    resize: both;
    overflow: auto;
    max-height: fit-content;
    max-width: fit-content; */
}

video.other-participant {
    
}

video.my-video-preview {
    max-width: 50%;
    display: block;
    margin: auto;
}

.control-panel {
    z-index: 2;
    background: white;
    opacity: 80%;
}

.icon-button {
    color: #424242;
}

.positioned-participant {
    border: 1px solid black;
    margin: 10px;
    display: flex;
}

.username {
    font-weight: bold;
}
